<div class="flex-group-left">
    <div class="cell flexrow">
        <div class="field-label flex1">
            <label>{{localize "WOD.details.name"}}</label>
        </div>
        <div class="field-value flex2">
            <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "WOD.details.name"}}"/>
        </div>
    </div>
    <div class="cell flexrow">
        <div class="field-label flex1">
            <label>{{localize "WOD.details.player"}}</label>
        </div>
        <div class="field-value flex2">
            <input name="data.details.player" type="text" value="{{actor.data.details.player}}" placeholder="{{localize "WOD.details.player"}}"/>
        </div>
    </div>
    <div class="cell flexrow">
        <div class="field-label flex1">
            <label>{{localize "WOD.details.chronicle"}}</label>
        </div>
        <div class="field-value flex2">
            <input name="data.details.chronicle" type="text" value="{{actor.data.details.chronicle}}" placeholder="{{localize "WOD.details.chronicle"}}"/>
        </div>
    </div>
</div>
<div class="flex-group-left no-wrap">
    <div class="flexrow no-wrap">
        <div class="field-label flex1 no-wrap">
            <label class="ellipsis">{{localize "WOD.details.breed"}}</label>
        </div>
        <div class="field-value flex2 no-wrap">
            {{#with breed}}
                <div class="field-item flexrow no-wrap item" data-item-id="{{id}}">
                    <div class="flex5 item-content no-wrap ellipsis" style="background-image: url('{{img}}');">{{name}}</div>
                    <div class="item-control"><a class="item-control item-delete" title="Delete Item"><i class="fas fa-times"></i></a></div>
                </div>
            {{/with}}
        </div>
    </div>
    <div class="flexrow no-wrap">
        <div class="field-label flex1 no-wrap">
            <label class="ellipsis">{{localize "WOD.details.auspice"}}</label>
        </div>
        <div class="field-value flex2 no-wrap">
            {{#with auspice}}
                <div class="field-item flexrow no-wrap item" data-item-id="{{id}}">
                    <div class="flex5 item-content no-wrap ellipsis" style="background-image: url('{{img}}');">{{name}}</div>
                    <div class="item-control"><a class="item-control item-delete" title="Delete Item"><i class="fas fa-times"></i></a></div>
                </div>
            {{/with}}
        </div>
    </div>
    <div class="flexrow no-wrap">
        <div class="field-label flex1 no-wrap">
            <label class="ellipsis">{{localize "WOD.details.tribe"}}</label>
        </div>
        <div class="field-value flex2 no-wrap">
            {{#with tribe}}
                <div class="field-item flexrow no-wrap item" data-item-id="{{id}}">
                    <div class="flex5 item-content no-wrap ellipsis" style="background-image: url('{{img}}');">{{name}}</div>
                    <div class="item-control"><a class="item-control item-delete" title="Delete Item"><i class="fas fa-times"></i></a></div>
                </div>
            {{/with}}
        </div>
    </div>
</div>
<div class="flex-group-left">
    <div class="flexrow">
        <div class="field-label flex1">
            <label>{{localize "WOD.details.packname"}}</label>
        </div>
        <div class="field-value flex2">
            <input name="data.details.packname" type="text" value="{{actor.data.details.packname}}" placeholder="{{localize "WOD.details.packname"}}"/>
        </div>
    </div>
    <div class="flexrow">
        <div class="field-label flex1">
            <label>{{localize "WOD.details.packtotem"}}</label>
        </div>
        <div class="field-value flex2">
            <input name="data.details.packtotem" type="text" value="{{actor.data.details.packtotem}}" placeholder="{{localize "WOD.details.packtotem"}}"/>
        </div>
    </div>
    <div class="flexrow">
        <div class="field-label flex1">
            <label>{{localize "WOD.details.concept"}}</label>
        </div>
        <div class="field-value flex2">
            <input name="data.details.concept" type="text" value="{{actor.data.details.concept}}" placeholder="{{localize "WOD.details.concept"}}"/>
        </div>
    </div>
</div>
