<div class="section-header flexrow">
    <div class="flex3"></div>
    <label class="section-title">{{localize "WOD.attributes.label"}}</label>
    <div class="flex3"></div>
</div>
<div class="section-content attributes grid grid-3col">
    {{> "systems/wod/templates/actor/parts/actor-attributes.hbs"}}
</div>
<div class="section-header flexrow">
    <div class="flex3"></div>
    <label class="section-title">{{localize "WOD.abilities.label"}}</label>
    <div class="flex3"></div>
</div>
<div class="section-content abilities grid grid-3col">
    {{> "systems/wod/templates/actor/parts/actor-abilities.hbs"}}
</div>
<div class="section-header flexrow">
    <div class="flex1 center">
        <label class="section-title">{{localize "WOD.resources.renown"}}</label>
    </div>
    <div class="flex1 center">
        <label class="section-title">{{localize "WOD.resources.label"}}</label>
    </div>
    <div class="flex1 center">
        <label class="section-title">{{localize "WOD.resources.health"}}</label>
    </div>
</div>
<div class="section-content resources grid grid-3col">
    <div class="primary flex-group-center" style="padding: 0 40px;">
        <label class="section-title score" data-namespace="resources" data-key="glory"><a class="rollable" title="{{localize "WOD.roll.resources"}}" data-type="resources" data-item-id="data.resources.glory">{{localize "WOD.resources.glory"}}</a></label>
        {{#with data.resources.glory as |res id|}}
            {{> "systems/wod/templates/actor/parts/resource-rank.hbs" res namespace="resources" group="renown"}}
        {{/with}}
        <br/>
        <label class="section-title score" data-namespace="resources" data-key="honor"><a class="rollable" title="{{localize "WOD.roll.resources"}}" data-type="resources" data-item-id="data.resources.honor">{{localize "WOD.resources.honor"}}</a></label>
        {{#with data.resources.honor as |res id|}}
            {{> "systems/wod/templates/actor/parts/resource-rank.hbs" res namespace="resources" group="renown"}}
        {{/with}}
        <br/>
        <label class="section-title score" data-namespace="resources" data-key="wisdom"><a class="rollable" title="{{localize "WOD.roll.resources"}}" data-type="resources" data-item-id="data.resources.wisdom">{{localize "WOD.resources.wisdom"}}</a></label>
        {{#with data.resources.wisdom as |res id|}}
            {{> "systems/wod/templates/actor/parts/resource-rank.hbs" res namespace="resources" group="renown"}}
        {{/with}}
    </div>
    <div class="secondary flex-group-center" style="padding: 0 40px;">
        <label class="section-title score" data-namespace="resources" data-key="rage"><a class="rollable" title="{{localize "WOD.roll.resources"}}" data-type="resources" data-item-id="data.resources.rage">{{localize "WOD.resources.rage"}}</a></label>
        {{#with data.resources.rage as |res id|}}
            {{> "systems/wod/templates/actor/parts/resource-rank.hbs" res namespace="resources" group="secondary"}}
        {{/with}}
        <br/>
        <label class="section-title score" data-namespace="resources" data-key="gnosis"><a class="rollable" title="{{localize "WOD.roll.resources"}}" data-type="resources" data-item-id="data.resources.gnosis">{{localize "WOD.resources.gnosis"}}</a></label>
        {{#with data.resources.gnosis as |res id|}}
            {{> "systems/wod/templates/actor/parts/resource-rank.hbs" res namespace="resources" group="secondary"}}
        {{/with}}
        <br/>
        <label class="section-title score" data-namespace="resources" data-key="willpower"><a class="rollable" title="{{localize "WOD.roll.resources"}}" data-type="resources" data-item-id="data.resources.willpower">{{localize "WOD.resources.willpower"}}</a></label>
        {{#with data.resources.willpower as |res id|}}
            {{> "systems/wod/templates/actor/parts/resource-rank.hbs" res namespace="resources" group="secondary"}}
        {{/with}}
    </div>
    <div class="health flex-group-center" style="padding: 0 10px;">
        <label class="section-title">{{localize "WOD.resources.health"}}</label>
        {{> "systems/wod/templates/actor/parts/actor-health.hbs"}}
    </div>
</div>
