<form class="{{cssClass}} {{actor.type}} {{actor.data.characterTemplate}}" autocomplete="off">
    <div class="wrap">
        {{> "modules/wod-wta/templates/actor/parts/werewolf-toolbar.hbs"}}
        <div class="sheet-header flexrow">
            <div class="portrait flex1 center">
                <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
            </div>
            <div class="header-fields flex5">
                <div class="logo"></div>
                <div class="details flexrow">
                    {{> "modules/wod-wta/templates/actor/parts/werewolf-details.hbs"}}
                </div>
                {{!-- Sheet Tab Navigation --}}
                <nav class="sheet-tabs tabs" data-group="primary">
                    <a class="item" data-tab="main">{{localize "WOD.ui.main"}}</a>
                    <a class="item" data-tab="combat">{{localize "WOD.ui.combat"}}</a>
                    <a class="item" data-tab="description">{{localize "WOD.ui.description"}}</a>
                    <a class="item" data-tab="traits">{{localize "WOD.ui.traits"}}</a>
                    <a class="item" data-tab="inventory">{{localize "WOD.ui.inventory"}}</a>
                </nav>
            </div>
        </div>
        {{!-- Sheet Body --}}
        <section class="sheet-body">
            {{!-- Main Tab --}}
            <div class="tab main" data-group="primary" data-tab="main">
                {{> "modules/wod-wta/templates/actor/parts/werewolf-main.hbs"}}
            </div>
            {{!-- Combat Tab --}}
            <div class="tab items" data-group="primary" data-tab="combat">
                {{> "systems/wod/templates/actor/parts/actor-combat.hbs"}}
            </div>
            {{!-- Biography Tab --}}
            <div class="tab description" data-group="primary" data-tab="description">
                {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
            </div>
            {{!-- Owned Items Tab --}}
            <div class="tab items" data-group="primary" data-tab="traits">
                {{> "systems/wod/templates/actor/parts/actor-traits.hbs"}}
            </div>
            {{!-- Owned Items Tab --}}
            <div class="tab items" data-group="primary" data-tab="inventory">
                {{> "systems/wod/templates/actor/parts/actor-inventory.hbs"}}
            </div>
        </section>
    </div>
</form>

